# Backend API URLs
# Development (localhost): sử dụng relative path với proxy
# Production: sử dụng full URL của các services

# Main API Gateway
VITE_API_BASE_URL=https://api-gateway.grayforest-11aba44e.southeastasia.azurecontainerapps.io/api

# User Profile Service
VITE_USER_PROFILE_API_BASE_URL=https://userprofile-service.grayforest-11aba44e.southeastasia.azurecontainerapps.io/api

# Company Service  
VITE_COMPANY_API_BASE_URL=https://company-service.grayforest-11aba44e.southeastasia.azurecontainerapps.io/api

# Application Service
VITE_APPLICATION_API_BASE_URL=https://application-service.grayforest-11aba44e.southeastasia.azurecontainerapps.io/api

# Connection Service
VITE_CONNECTION_API_BASE_URL=https://connection-service.grayforest-11aba44e.southeastasia.azurecontainerapps.io/api

VITE_RETURN_URL=https://sep-490-web-fork.vercel.app/api/payment/result
VITE_CANCEL_URL=https://sep-490-web-fork.vercel.app/payment/cancel